body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.flashes {
    color: red;
}

#canvas-container {
    height: 300px;
    /* Set a fixed height for the container */
    overflow: auto;
    /* Enable scrolling if content exceeds height */
    border: 1px solid #000;
    /* Optional: Add a border around the container */
}

#canvas {
    border: 1px solid #000;
    cursor: crosshair;
    touch-action: none;
    /* Prevent default touch actions */
    width: 100%;
    /* Make canvas width 100% of the parent */
    height: 100%;
    /* Set height to 100% of the container */
}

textarea,
canvas,
button {
    margin-top: 10px;
}