<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ notebook.title }}</title>
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </nav>
    <h2>{{ notebook.title }}</h2>

    <h3>Notes in this Notebook:</h3>
    <ul>
        {% for note in notebook.notes %}
        <li>
            {{ note.content }}
            {% if note.doodle %}
            <img src="{{ note.doodle }}" alt="Doodle" width="500">
            {% else %}
            <p> </p>
            {% endif %}
            <form action="{{ url_for('delete_note', note_id=note.id) }}" method="POST">
                <button type="submit">Delete Note</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <h3>Add a New Note:</h3>
    <form action="{{ url_for('add_note_to_notebook', notebook_id=notebook.id) }}" method="POST"
        onsubmit="return validateNote();">
        <textarea id="noteInput" name="note" placeholder="Add a new note..."></textarea>
        <input type="hidden" id="doodleInput" name="doodle">

        <h3>Doodle Area:</h3>
        <div id="canvas-container">
            <div id="canvas-controls">
                <button type="button" id="undoButton">Undo</button>
                <button type="button" id="eraserButton">Toggle Eraser</button>
            </div>
            <canvas id="canvas"></canvas>
        </div>

        <button type="submit">Add Note</button>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
