{% extends 'base.html' %}
{% block content %}
    <h2>{{ notebook.title }}</h2>

    <h3>Notes in this Notebook:</h3>
    <ul>
        {% if note %}
            {% for notes in note %}
            <li>
                {{ notes.content }}
                {% if notes.doodle %}
                <img src="{{ notes.doodle }}" alt="Doodle" width="500">
                {% else %}
                <p> </p>
                {% endif %}
                <form action="{{ url_for('delete_note', note_id=notes.id) }}" method="POST">
                    <button type="submit">Delete Note</button>
                </form>
            </li>
            {% endfor %}
        {% else %}
            <li>No notes available.</li>
        {% endif %}
    </ul>

    <h3>Add a New Note:</h3>
    <form action="{{ url_for('add_note', notebook_id=notebook.id) }}" method="POST"
        onsubmit="return validateNote();">
        <textarea id="noteInput" name="note" placeholder="Add a new note..."></textarea>
        <!-- <input type="hidden" name="notebook_id" value="{{ notebook.id }}"> -->
        <input type="hidden" id="doodleInput" name="doodle">

        <h3>Doodle Area:</h3>
        <div id="canvas-container">
            <div id="canvas-controls">
                <button type="button" id="undoButton">Undo</button>
                <button type="button" id="eraserButton">Toggle Eraser</button>
                <label for="colorPicker">Select Color:</label>
                <input type="color" id="colorPicker" value="#000000">
            </div>
            <canvas id="canvas"></canvas>
        </div>

        <button type="submit">Add Note</button>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% endblock %}