{% extends 'base.html' %}
{% block content %}
    <h2>Notes:</h2>
    <ul>
        {% for note in notes %}
            <li>
                {{ note.content }} 
            </li>
        {% endfor %}
    </ul>

    <h2>Your Notebooks</h2>
    <ul>
        {% for notebook in notebooks %}
            <li>
                <a href="{{ url_for('notebook', notebook_id=notebook.id) }}">{{ notebook.title }}</a>
                <a href="{{ url_for('delete_notebook', notebook_id=notebook.id) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h3>Create a New Notebook</h3>
    <form action="{{ url_for('create_notebook') }}" method="POST">
        <input type="text" name="title" placeholder="Notebook Title" required>
        <button type="submit">Create Notebook</button>
    </form>
    {% endblock %}